@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .banner-container {
        margin-bottom: 20px;
    }

    .menu-icon {
        display: block;
        margin-top: 30%;
        font-size: 1.5rem;
    }

    .list {
        display: none;
    }

    .destination-find {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }

    .destination-find input {
        width: 100%;
        margin-bottom: 10px;
    }

    .button {
        position: relative;
    }

    .button i {
        position: absolute;
        left: 60px;
        bottom: 50%;
        transform: translateY(50%);
        color: white;
        font-size: 16px;
    }

    .button button {
        width: 100%;
        margin: auto;
        font-size: 16px;
    }

    .popular-tour {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .destination-choice-container {
        margin-bottom: 20px;
    }

    .text-container {
        width: 90%;
        margin-bottom: 20px;
    }

    .first-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .third-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .cause-container {
        margin-bottom: 20px;
    }

    .choose-us-text {
        width: 90%;
    }

    .first {
        grid-template-columns: repeat(1, 1fr);
    }

    .best-price {
        width: 100%;
    }

    .package {
        width: 90%;
    }

    .btn-packages {
        margin-bottom: 20px;
    }

    .memories-container {
        margin-bottom: 20px;
    }

    .collage-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .subscription-container {
        grid-template-columns: repeat(1, 1fr);
    }
}